.panel, .well {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  /*box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
.panel > .panel-body {
  margin-left: 30px;
  margin-right: 30px;
}

.btn-default {
  color: #666;
  background-color: #fff;
  border-color: #ccc;
}
