@media (min-width:640px) {
  .snackbar-container {
    min-width: 288px;
    max-width: 568px;
    display: inline-flex;
    border-radius: 4px;
    margin: 24px;
    bottom: -100px;
  }
}
@media (max-width:640px) {
  .snackbar-container{
    text-align: center;
    left: 0;
    right: 0
  }
  .snackbar-container .action { margin: 0 10px 0 10px; }
}

.snackbar-default {
  background-color: lightgray !important;
}
.snackbar-primary {
  background-color: #337ab7 !important;
}
.snackbar-danger {
  background-color: #d9534f !important;
}
